html {
  background-color: #555;
}

body {
  display: flex;
  margin: 0 20px;
}

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas#canvas {
  height: 800px;
  width: 400px;
  border: 1px solid black;
}