html {
  background-color: #555;
}

body {
  display: flex;
  margin: 0 20px;
}

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.game {
  display: flex;
  align-items: center;
  margin: 0 auto;

  .scoreText {
    width: 90px;
  }

  canvas {
    margin-left: 20px;
  }
}
