<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tetris clone by Grímur!</title>
    </head>
    <body>
        <div class="app">
            <h2>Tetris clone</h2>
            <div class="game">
                <div class="scoreText">Score: <span id="score">0</span></div>
                <canvas id="canvas" height="821" width="411">
                    Looks like your browser does not support the canvas element
                </canvas>
                <canvas id="nextPiece" height="165" width="124"></canvas>
            </div>
        </div>
    </body>
</html>
